
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VİRA ELEKTRİK ÜRETİM A.Ş.</title>
    <link href="~/web/dist/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/vira.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <img style="margin-left:15px" src="~/Images/viraIcon.jpg" />
        <a class="navbar-brand" href="@Url.Action("Index", "AnaSayfa")">VİRA</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Aranacak kelimeyi girin..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Ayarlar</a>
                    <a class="dropdown-item" href="#">Hesabım</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "Login")">Çıkış</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @if (User.IsInRole("G"))
                        {
                            <div class="sb-sidenav-menu-heading">Tanımlamalar</div>
                            <a class="nav-link" href="@Url.Action("Index", "Firma")">
                                <div class="sb-nav-link-icon"><i class="fas fa-industry"></i></div>
                                Firma
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "MalHizmet")">
                                <div class="sb-nav-link-icon"><i class="fas fa-bolt"></i></div>
                                Mal/Hizmet
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "Kurum")">
                                <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                                Kurum
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "AltBirim")">
                                <div class="sb-nav-link-icon"><i class="fas fa-sitemap"></i></div>
                                Alt Birim
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "Araclar")">
                                <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
                                Araç
                            </a>
                            <div class="sb-sidenav-menu-heading">İşlemler</div>
                            <a class="nav-link" href="@Url.Action("Index", "YekdemGiris")">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Yekdem
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "Fatura")">
                                <div class="sb-nav-link-icon"><i class="fas fa-list-alt"></i></div>
                                Fatura
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "Sozlesme")">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Sözleşmeler
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "YakitTakip")">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Yakit Takip
                            </a>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                                Evrak
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("Index", "GelenEvrak")">Gelen Evrak</a>
                                    <a class="nav-link" href="@Url.Action("Index", "GidenEvrak")">Giden Evrak</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Raporlar & Grafikler</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Raporlar
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("ParametreListe", "RaporFatura")">Fatura Raporu</a>
                                    <a class="nav-link" href="@Url.Action("Index", "RaporAylikUretim")">Aylık Uretim</a>
                                    <a class="nav-link" href="@Url.Action("Index", "RaporTeiasVeris")">Teiaş Veriş</a>
                                    <a class="nav-link" href="@Url.Action("Index", "RaporUretim")">Üretim Raporu</a>
                                    <a class="nav-link" href="@Url.Action("Index", "RaporUretimAnaliz")">Aylık Üretim Analiz</a>
                                    <a class="nav-link" href="@Url.Action("RaporYillarListe", "RaporUretimAnaliz")">Yıllık Üretim Analiz</a>
                                    <a class="nav-link" href="@Url.Action("Index", "RaporYakitTakip")">Yıllık Yakıt Analiz</a>
                                    <a class="nav-link" href="@Url.Action("Index", "GrafikYakitTakip")">Yıllık Yakıt Analiz Grafiği</a>
                                </nav>
                            </div>
                            @*<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Grafikler
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("Grafik", "RaporAylikUretim")">Aylık Uretim</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">?</a>
                                </nav>
                            </div>*@
                        }
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Giriş Yapan Kullanıcı:</div>
                    @User.Identity.Name
                    @*Start Bootstrap*@
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div>
                        @RenderBody()

                        @RenderSection("scripts", required: false)
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Sinan Öngel 2021</div>
                        @*<div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>*@
                    </div>
                </div>
            </footer>

        </div>
    </div>

    @*<script src="//code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/web/dist/js/scripts.js"></script>

</body>
</html>
