@model Vira.Models.FaturaDetay

<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Fatura Detay Girişi</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        <form action="@Url.Action("FaturaDetayEkle", "Fatura")" method="post">
            <hr />
            <div class="form-horizontal">
                <input type="hidden" value="@ViewBag.faturaId" name="FaturaId" id="FaturaId" />
                <div class="container form-group row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Mal/Hizmet Adı</b></label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.MalHizmetId, (List<SelectListItem>)ViewBag.mhList, "----------------------- Seçiniz ----------------------", new { @class = "form-control", @style = "width:400px", @name = "BirimId", @id = "BirimId" })
                    </div>
                </div>
                <div class="container form-group row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Miktar</b></label>
                    <div class="col-md-2">
                        <input type="text" id="FdMiktar" name="FdMiktar" placeholder="Miktar" class="form-control FdMiktar" style="width:85px; text-align:right" required oninvalid="this.setCustomValidity('Bu alan boş geçilemez!')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="col-md-7">
                        @Html.DropDownListFor(x => x.BirimId, (List<SelectListItem>)ViewBag.bList, new { @class = "form-control", @style = "width:100px", @name = "BirimId", @id = "BirimId" })
                    </div>
                </div>
                <div class="container form-group row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Birim Fiyat</b></label>
                    <div class="col-md-2">
                        <input id="FdBirimFiyat" name="FdBirimFiyat" type="text" class="form-control FdBirimFiyat" placeholder="Birim Fiyat" style="width:150px; text-align:right;" />
                    </div>
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Döviz Cinsi</b></label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.DovizId, (List<SelectListItem>)ViewBag.dList, new { @class = "form-control", @style = "width:90px", @name = "DovizId", @id = "DovizId" })
                    </div>
                </div>
                <div class="container form-group row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Kur</b></label>
                    <div class="col-md-2">
                        <input class="form-control FdKur" style="width:80px; text-align:right;" type="text" name="FdKur" id="FdKur" value="1,00" />
                    </div>
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Kdv Oranı(%)</b></label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.KdvId, (List<SelectListItem>)ViewBag.kList, new { @class = "form-control", @style = "width:80px", @id = "FKdvId" })
                    </div>
                </div>
                @*<div class="container form-group row">
            <label class="col-form-label col-md-3 text-right"><b>Birim Fiyat(TL)</b></label>
            <div class="col-md-1">
                <input type="text" id="FdBirimFiyatTl" name="FdBirimFiyatTl" class="form-control" style="width:150px; text-align:right;" readonly />
            </div>
            <label class="col-form-label col-md-2 text-right"><b>Kdv Tutar</b></label>
            <div class="col-md-1">
                <input style="width:150px; text-align:right;" type="text" class="form-control" name="KdvTutar" id="KdvTutar" readonly />
            </div>
            <label class="col-form-label col-md-2 text-right"><b>Tutar</b></label>
            <div class="col-md-2">
                <input style="width:150px; text-align:right;" type="text" class="form-control" name="FdTutar" id="FdTutar" readonly />
            </div>
        </div>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                    <button class="btn btn-info">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function hesapla() {
        var BirimFiyat = $(".FdBirimFiyat").val();
        var BrmFiyat = BirimFiyat.replace(/,/g, '.');
        var Kur = $(".FdKur").val();
        var Kr = Kur.replace(/,/g, '.');
        var Miktar = $(".FdMiktar").val();
        var Mktr = Miktar.replace(/,/g, '.');
        var KdvOran = $("#FKdvId option:selected").text();

        var BirimFiyatTl = (parseFloat(BrmFiyat).toFixed(8) * parseFloat(Kr)).toFixed(8);
        var Tutar = (BirimFiyatTl * parseFloat(Mktr)).toFixed(2);
        var KdvTutar = ((Tutar * parseFloat(KdvOran)) / 100).toFixed(2);
        var BrmFiyatTl = BirimFiyatTl.replace(".", ",");
        var Ttr = Tutar.replace(".", ",");
        var Kdvttr = KdvTutar.replace(".", ",");

        $("#FdBirimFiyatTl").val(BrmFiyatTl);
        $("#FdTutar").val(Ttr);
        $("#KdvTutar").val(Kdvttr);
    }
    setInterval("hesapla()", 100);
</script>
