@model Vira.Models.FaturaDetay

<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Fatura Detay Güncelleme</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        <form action="@Url.Action("FaturaDetayGuncelle", "Fatura")" method="post">
            <hr />
            <div class="form-horizontal">
                @Html.HiddenFor(x => x.FaturaId, new { @value = ViewBag.faturaId })
                @Html.HiddenFor(x => x.FaturaDetayId)
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Mal/Hizmet Adı</b></label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(x => x.MalHizmetId, (List<SelectListItem>)ViewBag.mhList, new { @class = "form-control", @style = "width:400px", @name = "MalHizmetId", @id = "MalHizmetId" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Miktar</b></label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdMiktar, new { @class = "form-control FdMiktar", @style = "width:100px; text-align:right; ", @id = "FdMiktar" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.Birim.BirimAdi, new { @class = "form-control BirimAd border-0", @style = "width:85px; color:blue" })
                        @Html.TextBoxFor(x => x.BirimId, new { @class = "BirimId", @style = "width:85px; ", @type = "hidden" })
                        @*@Html.DropDownListFor(x => x.BirimId, (List<SelectListItem>)ViewBag.bList, new { @class = "form-control", @style = "width:100px" })*@
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Birim Fiyat</b></label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdBirimFiyat, new { @class = "form-control FdBirimFiyat", @style = "width:150px; text-align:right;", onchange = "OnChangeEvent()", @name = "FdBirimFiyat", @id = "FdBirimFiyat" })
                    </div>
                    <label class="col-form-label-sm col-md-3 text-right"><b>Döviz Cinsi</b></label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.DovizId, (List<SelectListItem>)ViewBag.dList, new { @class = "form-control", @style = "width:90px" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Kur</b></label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdKur, new { @class = "form-control FdKur", @style = "width:70px; text-align:right;", @id = "Kr" })
                    </div>
                    <label class="col-form-label-sm col-md-2 text-right"><b>Kdv Oran(%)</b></label>
                    <div class="col-sm-5">
                        @Html.DropDownListFor(x => x.KdvId, (List<SelectListItem>)ViewBag.kList, new { @class = "form-control", @style = "width:80px; text-align:right;", @id = "KdvId", @name = "KdvId" })
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                <button class="btn btn-success">Güncelle</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MalHizmetId').change(function () {
            var MalHizmetId = $(this).val();
            var birimAd;
            $.ajax({
                url: '@Url.Action("BirimGetir","Fatura")',
                type: 'POST',
                dataType: 'json',
                data: { 'MalHizmetId': MalHizmetId },
                success: function (data) {
                    birimAd = data.birimAd;
                    birimId = data.birimId;
                    $(".BirimAd").val(birimAd);
                    $(".BirimId").val(birimId);
                }
            });
        });
    });
</script>