@model Vira.Models.FaturaDetay

<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Fatura Detay Güncelleme</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        <form action="@Url.Action("FaturaDetayGuncelle", "Fatura")" method="post">
            <hr />
            <div class="form-horizontal">
                @Html.HiddenFor(x => x.FaturaId, new { @value = ViewBag.faturaId })
                @Html.HiddenFor(x => x.FaturaDetayId)
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Mal/Hizmet Adı</b></label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(x => x.MalHizmetId, (List<SelectListItem>)ViewBag.mhList, new { @class = "form-control", @style = "width:400px", @name = "MalHizmetId", @id = "MalHizmetId" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Miktar</b></label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdMiktar, new { @class = "form-control FdMiktar", @style = "width:85px; text-align:right;", @id = "FdMiktar" })
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(x => x.BirimId, (List<SelectListItem>)ViewBag.bList, new { @class = "form-control", @style = "width:100px" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Birim Fiyat</b></label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdBirimFiyat, new { @class = "form-control FdBirimFiyat", @style = "width:150px; text-align:right;", onchange = "OnChangeEvent()", @name = "FdBirimFiyat", @id = "FdBirimFiyat" })
                    </div>
                    <label class="col-form-label-sm col-md-3 text-right"><b>Döviz Cinsi</b></label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.DovizId, (List<SelectListItem>)ViewBag.dList, new { @class = "form-control", @style = "width:90px" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Kur</b></label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdKur, new { @class = "form-control FdKur", @style = "width:70px; text-align:right;", @id = "Kr" })
                    </div>
                    <label class="col-form-label-sm col-md-2 text-right"><b>Kdv Oran(%)</b></label>
                    <div class="col-sm-5">
                        @Html.DropDownListFor(x => x.KdvId, (List<SelectListItem>)ViewBag.kList, new { @class = "form-control", @style = "width:80px; text-align:right;", @id = "KdvId", @name = "KdvId" })
                    </div>
                </div>
                @*<div class="container form-group-sm row">
            <label class="col-form-label-sm col-sm-3 text-right"><b>Birim Fiyat(TL)</b></label>
            <div class="col-sm-1">
                @Html.TextBoxFor(x => x.FdBirimFiyatTl, new { @class = "form-control", @style = "width:150px; text-align:right;", @id = "FdBirimFiyatTl", @readonly = "readonly" })
            </div>
            <label class="col-form-label-sm col-md-2 text-right"><b>Kdv Tutar</b></label>
            <div class="col-sm-1">
                @Html.TextBoxFor(x => x.KdvTutar, new { @class = "form-control", @style = "width:150px; text-align:right;", @id = "KdvTutar", @name = "KdvTutar", @readonly = "readonly" })
            </div>
            <label class="col-form-label-sm col-md-2 text-right"><b>Tutar</b></label>
            <div class="col-sm-2">
                @Html.TextBoxFor(x => x.FdTutar, new { @class = "form-control", @style = "width:150px; text-align:right;", @id = "FdTutar", @name = "FdTutar", @readonly = "readonly" })
            </div>
        </div>*@
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                <button class="btn btn-success">Güncelle</button>
            </div>
        </form>
    </div>
</div>

@*<script type="text/javascript">
    function OnChangeEvent() {
        var BirimFiyat = $(".FdBirimFiyat").val();
        alert(BirimFiyat);
        var BrmFiyat = BirimFiyat.replace(/,/g, '.');
        var Kur = $(".FdKur").val();
        var Kr = Kur.replace(/,/g, '.');
        var Miktar = $(".FdMiktar").val();
        var Mktr = Miktar.replace(/,/g, '.');
        var KdvOran = $("#FKdvId option:selected").text();

        var BirimFiyatTl = (parseFloat(BrmFiyat).toFixed(8) * parseFloat(Kr)).toFixed(8);
        var Tutar = (BirimFiyatTl * parseFloat(Mktr)).toFixed(2);
        var KdvTutar = ((Tutar * parseFloat(KdvOran)) / 100).toFixed(2);
        var BrmFiyatTl = BirimFiyatTl.replace(".", ",");
        var Ttr = Tutar.replace(".", ",");
        var Kdvttr = KdvTutar.replace(".", ",");

        $("#FdBirimFiyatTl").val(BrmFiyatTl);
        $("#FdTutar").val(Ttr);
        $("#KdvTutar").val(Kdvttr);
    }
    $(document).ready(function () {
        $(".FdBirimFiyat").change(function () {
            var BirimFiyat = $(".FdBirimFiyat").val();
            alert(BirimFiyat);
            var BrmFiyat = BirimFiyat.replace(/,/g, '.');
            var Kur = $(".FdKur").val();
            var Kr = Kur.replace(/,/g, '.');
            var Miktar = $(".FdMiktar").val();
            var Mktr = Miktar.replace(/,/g, '.');
            var KdvOran = $("#FKdvId option:selected").text();

            var BirimFiyatTl = (parseFloat(BrmFiyat).toFixed(8) * parseFloat(Kr)).toFixed(8);
            var Tutar = (BirimFiyatTl * parseFloat(Mktr)).toFixed(2);
            var KdvTutar = ((Tutar * parseFloat(KdvOran)) / 100).toFixed(2);
            var BrmFiyatTl = BirimFiyatTl.replace(".", ",");
            var Ttr = Tutar.replace(".", ",");
            var Kdvttr = KdvTutar.replace(".", ",");

            $("#FdBirimFiyatTl").val(BrmFiyatTl);
            $("#FdTutar").val(Ttr);
            $("#KdvTutar").val(Kdvttr);
        })
    })
    function hesapla() {
        var BirimFiyat = $(".FdBirimFiyat").val();
        var BrmFiyat = BirimFiyat.replace(/,/g, '.');
        var Kur = $(".FdKur").val();
        var Kr = Kur.replace(/,/g, '.');
        var Miktar = $(".FdMiktar").val();
        var Mktr = Miktar.replace(/,/g, '.');
        var KdvOran = $("#FKdvId option:selected").text();

        var BirimFiyatTl = (parseFloat(BrmFiyat).toFixed(8) * parseFloat(Kr)).toFixed(8);
        var Tutar = (BirimFiyatTl * parseFloat(Mktr)).toFixed(2);
        var KdvTutar = ((Tutar * parseFloat(KdvOran)) / 100).toFixed(2);
        var BrmFiyatTl = BirimFiyatTl.replace(".", ",");
        var Ttr = Tutar.replace(".", ",");
        var Kdvttr = KdvTutar.replace(".", ",");

        $("#FdBirimFiyatTl").val(BrmFiyatTl);
        $("#FdTutar").val(Ttr);
        $("#KdvTutar").val(Kdvttr);
    }
    setInterval("hesapla()", 100);
</script>*@