@model Vira.Models.Fatura

<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Fatura Başlığı Girişi</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        @using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <hr />
            @Html.HiddenFor(x => x.FaturaId)
            <div class="form-horizontal">
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Fatura No</b></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.FaturaNo, new { @class = "form-control", @style = "width:170px;", @maxlength = "16" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Fatura Tipi</b></label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.FaturaTipi, (List<SelectListItem>)ViewBag.tiListe, new { @class = "form-control", @style = "width:120px" })
                    </div>
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Fatura Türü</b></label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.FaturaTuru, (List<SelectListItem>)ViewBag.tuListe, "- Seçiniz -", new { @class = "form-control", @style = "width:120px" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Fatura Tarihi</b></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.FaturaTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @style = "width:160px;", @type = "date" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Fatura Dönemi</b></label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x => x.YillarId, (List<SelectListItem>)ViewBag.dYil, new { @class = "form-control", @style = "width:85px" })
                    </div>
                    <div class="col-md-7">
                        @Html.DropDownListFor(x => x.AyId, (List<SelectListItem>)ViewBag.dAy, "- Seçiniz -", new { @class = "form-control", @style = "width:110px" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right" style="color:red"><b>Kurum</b></label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.KurumId, (List<SelectListItem>)ViewBag.kList, new { @class = "form-control", @style = "width:400px", @required = "" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right"><b>Fatura</b></label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Dosya, new { @class = "form-control", @style = "width:450px; font-size:10px; border:hidden; color:blue;", @readonly = true })
                    </div>
                </div>
                <div class="container form-group-sm row">
                    <label class="col-form-label col-md-3 text-right"><b>Fatura Yükle</b></label>
                    <div class="col-sm-8">
                        <input style="width:400px;" type="file" class="form-control-file border" name="Dosya" maxlength="50" />
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                    <button class="btn btn-success">Güncelle</button>
                </div>
            </div>
        }
    </div>
</div>
