@model Vira.Models.Siniflar.FaturaRapor
@{
    ViewBag.Title = "ParametreListe";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Fatura Raporu</div>
    <div class="card-body">
        <div>
            @using (Html.BeginForm("ParametreListe", "RaporFatura", FormMethod.Post))
            {
                <div class="form-horizontal">
                    <div class="container form-group-sm row">
                        <div class="container form-group row">
                            <label class="col-form-label-sm col-2"><b>Rapor Tipi</b></label>
                            <div>
                                @if (@ViewBag.raporTur == "2")
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Detay" checked="checked" value="2" />
                                        <label class="form-check-label" for="inlineRadio1">Detaylı</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Detay" value="3" />
                                        <label class="form-check-label" for="inlineRadio1">Detaysız</label>
                                    </div>
                                }
                                else if (@ViewBag.raporTur == "3")
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Detay" value="2" />
                                        <label class="form-check-label" for="inlineRadio1">Detaylı</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Detay" checked="checked" value="3" />
                                        <label class="form-check-label" for="inlineRadio1">Detaysız</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="container form-group-sm row">
                        @*<label class="col-form-label-sm col-2"><b>Dönem Başı (Yıl/Ay)</b></label>
                        <div class="col-1">
                            @Html.DropDownListFor(x => x.BasYil, (List<SelectListItem>)ViewBag.dYil, "Seçiniz", new { @class = "form-control", @style = "width:90px" })
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(x => x.BasAy, (List<SelectListItem>)ViewBag.dAy, "- Seçiniz -", new { @class = "form-control", @style = "width:120px" })
                        </div>
                        <label class="col-form-label-sm col-2"><b>Dönem Sonu (Yıl/Ay)</b></label>
                        <div class="col-1">
                            @Html.DropDownListFor(x => x.BitYil, (List<SelectListItem>)ViewBag.dYil, "Seçiniz", new { @class = "form-control", @style = "width:90px" })
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(x => x.BitAy, (List<SelectListItem>)ViewBag.dAy, "- Seçiniz -", new { @class = "form-control", @style = "width:120px" })
                        </div>*@
                        <label class="col-form-label-sm col-1"><b>Tarih Aralığı</b></label>
                        <div class="col-2">
                            @Html.TextBoxFor(x => x.BasTarih, "{0:yyyy-MM-dd}", new { @class = "form-control", @style = "width:160px;", @type = "date" })
                        </div>
                        <div class="col-8">
                            @Html.TextBoxFor(x => x.BitTarih, "{0:yyyy-MM-dd}", new { @class = "form-control", @style = "width:160px;", @type = "date" })
                        </div>
                    </div>
                    <div class="container form-group-sm row ">
                        <label class="col-form-label-sm col-md-1"><b>Kurum</b></label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(x => x.KurumId, (List<SelectListItem>)ViewBag.kListe, "----------------------- Seçiniz -----------------------", new { @class = "form-control Kurum", @style = "width:400px" })
                        </div>
                        <div id="Detay2" class="col row desc">
                            <label class="col-form-label-sm col-md-3"><b>Mal/Hizmet</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.MalHizmet, (List<SelectListItem>)ViewBag.mhzListe, "------------------ Seçiniz ------------------", new { @class = "form-control MalHizmet", @style = "width:340px" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button id="liste" style="width:100px" class="btn btn-success">Listele</button>
                        </div>
                    </div>
                </div>
            }
            <hr />
            @if (@ViewBag.raporTur == "2")
            {
                <div>
                    @Html.Action("RaporListeDetayli", "RaporFatura")
                </div>
            }
            else if (@ViewBag.raporTur == "3")
            {
                <div>
                    @Html.Action("RaporListeDetaysiz", "RaporFatura")
                </div>
            }
        </div>
    </div>
</div>

@if (@ViewBag.raporTur is null)
{
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#KurumId').change(function () {
            var KurumId = $(this).val();
            var MalHizmetL = $('#MalHizmet');
            MalHizmetL.empty();
            $.ajax({
                url: '@Url.Action("MalHizmetGetir", "RaporFatura")',
                type: 'POST',
                dataType: 'json',
                data: { 'KurumId': KurumId },
                success: function (data) {
                    $.each(data, function (index, option) {
                        MalHizmetL.append('<option value=' + option.Value + '>' + option.Text + '</option>');
                    });
                }
            });
        });
    });
    $("input[name$='Detay']").click(function () {
        var test = $(this).val();

        $("div.desc").hide();
        $("#Detay" + test).show();
    });
</script>
