@using Vira.Models
@model List<Fatura>

<br />
<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <input id="KurumAd" value="@ViewBag.KurumAdi @ViewBag.Donem Dönemi Fatura Listesi"
               style="border: none; text-align: right; font-style: italic; color:#CC4040; border-bottom: 2px solid #CC4040; width: 100%" readonly />
    </div>
</div>
<table id="tablo" class="table table-bordered table-hover table-sm display">
    <thead>
        <tr>
            <th style="width:5%">#</th>
            <th style="width:5%"><small><strong>Fatura No</strong></small></th>
            <th style="width:5%"><small><strong>Dönem</strong></small></th>
            <th style="width:5%"><small><strong>Fatura Tarihi</strong></small></th>
            <th style="width:5%"><small><strong>Fatura Toplamı</strong></small></th>
            <th style="width:5%"><small><strong>Kdv Tutarı</strong></small></th>
            <th style="width:5%"><small><strong>Kdv Dahil Toplam</strong></small></th>
        </tr>
    </thead>
    @foreach (var f in Model)
    {
        <tr>
            <td class="align-middle" style="font-size:12px;"></td>
            <td><small>@f.FaturaNo</small></td>
            <td><small>@f.Yillar.Yil - @f.Ay.AyAd</small></td>
            <td><small>@f.FaturaTarihi.ToString("dd.MM.yyyy")</small></td>
            <td style="text-align: right;"><small>@f.FaturaToplami.ToString("N")</small></td>
            <td style="text-align: right;"><small>@f.FaturaKdvToplami.ToString("N")</small></td>
            <td style="text-align: right;"><small>@f.FaturaOdenecekTutar.ToString("N")</small></td>
        </tr>
    }
</table>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>

<script type="text/javascript">
    var t = $('#tablo').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        },
        "scrollY": "500px",
        "scrollX": true,
        "paging": false,
        "searching": false,
        "info": false,
        "columnDefs": [{
            "searchable": false,
            "orderable": false,
            "targets": 0
        }],
        "order": [[1, 'asc']],
        "dom": 'Bfrtip',
        "buttons": [
            {
                extend: 'excelHtml5',
                footer: true,
                title: $('#KurumAd').val(),
                text: '<i class="fa fa-file-excel"></i>',
                titleAttr: 'EXCEL',
                exportOptions: {
                    columns: [':visible', ':visible'],
                    format: {
                        body: function (data, row, column, node) {
                            data = $('<p>' + data + '</p>').text();
                            return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                        }
                    }
                }
            },
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                title: $('#KurumAd').val(),
                text: '<i class="fa fa-file-pdf"></i>',
                titleAttr: 'PDF',
                exportOptions: {
                    columns: [':visible', ':visible']
                }
            }
        ]
    });
    t.on('order.dt draw.dt', function () {
        var PageInfo = $('#tablo').DataTable().page.info();
        t.column(0, { page: 'current', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1 + PageInfo.start;
            t.cell(cell).invalidate('dom');
        });
    });
</script>