@using Vira.Models
@model List<GelenEvrak>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

@if (TempData["Ekle"] != null)
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        swal("İşlem başarılı!", "Kayıt işlemi tamamlandı!", "success");
    </script>
}
@if (TempData["Guncelle"] != null)
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        swal("Tebrikler!", "Başarılı bir şekilde güncelleme yapıldı!", "success");
    </script>
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/datetime-moment.js"></script>


<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11">
                <strong>Gelen Evrak İşlemleri</strong>
            </h5>
            <a href="#" class="btn btn-primary ekle col-md-1" data-target="@Url.Action("ModalAc", "GelenEvrak")">Yeni Kayıt</a>
        </div>
    </div>

    <!--Proje Listesi-->
    <div style="margin-left:1%; margin-right:1%">
        <br />
        <table id="liste" class="table table-bordered table-hover table-sm display" style="margin-top:20px;">
            <thead>
                <tr>
                    <th style="width:3%"><small><strong>#</strong></small></th>
                    <th style="width:10%"><small><strong>Evrak Sayı</strong></small></th>
                    <th style="width:5%"><small><strong>Evrak Tarihi</strong></small></th>
                    <th style="width:5%"><small><strong>Tebligat Tarihi</strong></small></th>
                    <th style="width:20%"><small><strong>Geldiği Yer</strong></small></th>
                    <th style="width:10%"><small><strong>Evrak Giriş Yeri</strong></small></th>
                    <th style="width:10%"><small><strong>Konu Başlığı</strong></small></th>
                    <th style="width:20%"><small><strong>Konu</strong></small></th>
                    <th style="width:20%"><small><strong>İlgi</strong></small></th>
                    <th style="width:20%"><small><strong>Eki</strong></small></th>
                    <th style="width:1%"></th>
                    <th style="width:1%"></th>
                    <th style="width:1%"></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle" style="font-size:12px;"></td>
                    <td><small>@item.GelenEvrakSayi</small></td>
                    <td><small>@item.GelenEvrakTarih.ToString("dd.MM.yyyy")</small></td>
                    <td><small>@item.TebligatTarihi.ToString("dd.MM.yyyy")</small></td>
                    @if (item.AltBirimId is null)
                    {
                        <td><small>@item.Kurum.KurumUnvani / </small></td>
                    }
                    else
                    {
                        <td><small>@item.Kurum.KurumUnvani / @item.AltBirim.AltBirimAdi</small></td>
                    }
                    <td><small>@item.Firma.FirmaAdi</small></td>
                    <td><small>@item.KonuBasligi.BaslikAdi</small></td>
                    <td><small>@item.GelenEvrakKonu</small></td>
                    <td><small>@item.IlgiEvrak</small></td>
                    @if (item.EkAdet is null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            <a href="#" class="btn btn-info btn-sm ekListe" data-target="@Url.Action("ModalEkListe", "GelenEvrak")/@item.GelenEvrakId">
                                <span class="badge badge-light">@item.EkAdet</span>Adet
                            </a>
                        </td>
                    }
                    <td><a href="#" class="btn btn-sm btn-success guncelle" data-target="@Url.Action("GelenEvrakGetir", "GelenEvrak")/@item.GelenEvrakId">Güncelle</a></td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm ek" data-target="@Url.Action("DosyaEki", "GelenEvrak")/@item.GelenEvrakId" title="Ek Girişi">
                            <span class="fa fa-paperclip"></span>
                        </a>
                    </td>
                    @if (item.GelenEvrakdosya is null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            <a href="@Url.Action("DosyaIndir", "GelenEvrak")/@item.GelenEvrakId" class="btn btn-primary btn-sm" title="Dosya İndir">
                                <span class="fa fa-file-download"></span>
                            </a>
                        </td>
                    }

                </tr>
            }
        </table>
    </div>

    <div class="container">
        <!--Proje Ekle Modal -->
        <div class="modal fade" id="myModalE" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Proje Güncelle Modal -->
        <div class="modal fade" id="myModalG" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Bilgi Modal -->
        <div class="modal fade" id="myModalEk" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Bilgi Modal -->
        <div class="modal fade" id="myModalEkListe" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("body").on("click", ".ekle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalE .modal-body").html(data);
                    $("#myModalE").modal("show");
                })
                .fail(function () {
                    $("#myModalE .modal-body").text("Hata!!");
                    $("#myModalE").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".guncelle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalG .modal-body").html(data);
                    $("#myModalG").modal("show");
                })
                .fail(function () {
                    $("#myModalG .modal-body").text("Hata!!");
                    $("#myModalG").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".ek", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalEk .modal-body").html(data);
                    $("#myModalEk").modal("show");
                })
                .fail(function () {
                    $("#myModalEk .modal-body").text("Hata!!");
                    $("#myModalEk").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".ekListe", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalEkListe .modal-body").html(data);
                    $("#myModalEkListe").modal("show");
                })
                .fail(function () {
                    $("#myModalEkListe .modal-body").text("Hata!!");
                    $("#myModalEkListe").modal("show");
                })
        });
    });

    $(document).ready(function () {
        $.fn.dataTable.moment('DD.MM.YYYY');

        var t = $('#liste').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            //"columnDefs": [{
            //    "searchable": false,
            //    "orderable": false,
            //    "targets": 0,
            //}],
            "order": [[2, 'desc']]
        });
        t.on('order.dt draw.dt', function () {
            var PageInfo = $('#liste').DataTable().page.info();
            t.column(0, { page: 'current', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + PageInfo.start;
                t.cell(cell).invalidate('dom');
            });
        });
        //t.on('draw.dt', function () {
        //    var PageInfo = $('#liste').DataTable().page.info();
        //    t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
        //        cell.innerHTML = i + 1 + PageInfo.start;
        //    });
        //});
    });

</script>
